{% extends 'base.html' %}

{% block title %}
Cтраница про нас
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Все статьи на сайте</h1>

  {%  if articles|length > 0 %}
    {% for page in articles %}
    <div class="alert alert-info">
      <h2> {{page.title}} </h2>
        <p>{{page.intro}}</p>
        <p><b>Дата: {{page.date.date()}}</b></p>
        <a href="/posts/{{ page.id }}" class="btn btn-warning">Детали</a>
    </div>
    {% endfor %}
  {% else %}
    <h2>У нас еще нет статей(</h2>
  {% endif %}

</div>
{% endblock %}